body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

h1 {
    margin: 20px 0;
}

p {
    margin: 10px 0;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px; /* Space between the buttons */
    margin: 20px 0;
}

button {
    width: 100px;
    padding: 10px;
    font-size: 16px;
}

/* Centering and scaling the canvas */
canvas {
    border: 1px solid black;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 20px 0;
}

.equation {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* Media queries for larger screens */
@media (min-width: 768px) {
    button {
        width: 100px;
        font-size: 16px;
    }

    .button-container {
        flex-direction: row; /* Ensure buttons are side by side*/
        align-items: center;
    }

    canvas {
        width: 600px;
        height: 600px;
    }
}
